body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee;
}

#container{
	width: 900px;
	margin: auto;
	background-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

header{
	color: white;
	background-color: #333;
	border: 2px solid #111;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

h1{
	margin: 1em;
}

.clear{
	clear: both;
}

form, #content{
	float: left;
	width: 675px;
}

form{
	margin-top: 1em;
}

#content{
	display: none;
}

#content pre{
	max-width: 675px;
	white-space: pre-wrap;
}

#content .time{
	font-style: italic;
}

label{
	display: inline-block;
	width: 50px;
	text-align: center;
}

#title{
	width: 600px;
}

textarea{
	width: 650px;
}

#sidebar{
	float: right;
	width: 225px;
}

#sidebar .recentPaste{
	margin: 1em 0;
}

#sidebar .recentPaste .time{
	color: #666;
	font-size: 90%;
}

#sidebar .recentPaste .text{
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1em;
}
