body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eee;
}

#container{
	width: 900px;
	margin: auto;
	background-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

header a{
	width: 900px;
	height: 163px;
	display: block;
}

header img{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#ad{
	float: left;
	display: block;
	width: 660px;
	height: 100px;
}

.clear{
	clear: both;
}

#newPaste{
	float: left;
	width: 660px;
	margin-left: 10px;
}

#content{
	float: left;
	width: 670px;
}

#newPaste{
	margin-top: 1em;
}

#content{
	display: none;
}

#content h2{
	margin: .5em .5em 0 .5em;
}

#content .subhead{
	margin: 0em 1em 1em 1em;
}

#content .time{
	color: #666;
	font-style: italic;
	float: left;
}

#modLinks{
	float: right;
}

#modPaste{
	display: none;
	float: right;
}

#modPaste input{
	margin: 0;
	border: 1px solid gray;
	border-radius: 0px;
}

#modSubmit{
	margin-left: -1px;
}

#content pre, #content .syntaxhighlighter{
	max-width: 675px;
	white-space: pre-wrap;
}

#newPaste label{
	display: inline-block;
	width: 50px;
	text-align: center;
}

#title{
	width: 600px;
}

#newPaste textarea{
	width: 650px;
}

#sidebar{
	float: right;
	width: 225px;
}

#sidebar .recentPaste{
	margin: 1em 0;
}

#sidebar .recentPaste .time{
	color: #666;
	font-size: 90%;
}

#sidebar .recentPaste .text{
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.error{
	position: fixed;
	left: 0;
	right: 0;
	bottom: -2em;
	background-color: #cc0000;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: .5em;
}

.twitter
{
	float: right;
}
